# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Java / Spring Boot (Backend)
target/
*.class
*.jar
*.war
*.ear
*.nar
.mvn/wrapper/maven-wrapper.jar

# IDEs and OS files
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
